# Dependencies
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite/Tailwind caches
.cache
.idea
.DS_Store

# Git
.git
.gitignore

# Build output (ignored in context; we copy from build stage)
out